In [1]:
import pandas as pd
from pathlib import Path

In [19]:
incidence_failure_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/incidence_rates/failure_incidence.csv") 
incidence_failure = pd.read_csv(incidence_failure_path, encoding='ISO-8859-1',skiprows=1 )

incidence_ischemic_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/incidence_rates/ischemic_incidence.csv") 
incidence_ischemic = pd.read_csv(incidence_ischemic_path, encoding='ISO-8859-1', skiprows=1)

incidence_myocardial_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/incidence_rates/myocardial_incidence.csv") 
incidence_myocardial = pd.read_csv(incidence_myocardial_path, encoding='ISO-8859-1',skiprows=1)

In [20]:
mortality_failure_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/mortality_rates/failure_mortality.csv") 
mortality_failure = pd.read_csv(mortality_failure_path, encoding='ISO-8859-1', skiprows=1)

mortality_ischemic_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/mortality_rates/ischemic_mortality.csv") 
mortality_ischemic = pd.read_csv(mortality_ischemic_path, encoding='ISO-8859-1', skiprows=1)

mortality_myocardial_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/mortality_rates/myocardial_mortality.csv") 
mortality_myocardial = pd.read_csv(mortality_myocardial_path, encoding='ISO-8859-1', skiprows=1)

In [4]:
healthcare_spending_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/healthcare_spending.csv") 
healthcare_spending = pd.read_csv(healthcare_spending_path, encoding='ISO-8859-1')

In [47]:
alberta_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/alberta_risks.csv")
alberta_risks = pd.read_csv(alberta_risks_path, encoding='ISO-8859-1', on_bad_lines='skip', skiprows=8)

bc_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/bc_risks.csv")
bc_risks = pd.read_csv(bc_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

manitoba_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/manitoba_risks.csv")
manitoba_risks = pd.read_csv(manitoba_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

nb_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/nb_risks.csv")
nb_risks = pd.read_csv(nb_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

nfl_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/nfl_risks.csv")
nfl_risks = pd.read_csv(nfl_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

ns_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/ns_risks.csv")
ns_risks = pd.read_csv(ns_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

ontario_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/ontario_risks.csv")
ontario_risks = pd.read_csv(ontario_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

pei_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/pei_risks.csv")
pei_risks = pd.read_csv(pei_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

quebec_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/quebec_risks.csv")
quebec_risks = pd.read_csv(quebec_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

sask_risks_path = Path("/Users/ahmedmansour/Desktop/Group-Project-3/Resources/risk_factors/sask_risks.csv")
sask_risks = pd.read_csv(sask_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

In [10]:
incidence_failure.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Rate (per 100,000)",Standard Error,Lower 95%_CI,Upper 95%_CI,Rate CV (%),Counts,Population,Unnamed: 12
0,Canada,Both sexes,Total,40+,20002001,731.0,2.30,726.0,735.0,0.32,100690.0,13779180.0,NaN
1,Canada,Females,Total,40+,20002001,716.0,3.16,710.0,723.0,0.44,51370.0,7171470.0,NaN
2,Canada,Males,Total,40+,20002001,746.0,3.36,740.0,753.0,0.45,49315.0,6607705.0,NaN
3,Canada,Both sexes,Total,40+,20012002,687.0,2.20,683.0,691.0,0.32,97115.0,14138230.0,NaN
4,Canada,Females,Total,40+,20012002,675.0,3.03,669.0,680.0,0.45,49575.0,7349705.0,NaN

In [11]:
incidence_failure.columns

Index(['Geography', 'Sex', 'Age group type', 'Age group', 'Fiscal year',
       'Rate (per 100,000)', 'Standard Error', 'Lower 95%_CI', 'Upper 95%_CI',
       'Rate CV (%)', 'Counts', 'Population', 'Unnamed: 12'],
      dtype='object')

In [14]:
columns_kept = ["Geography", "Sex", "Fiscal year", "Rate (per 100,000)", "Counts", "Population"]
incidence_failure_cleaned = incidence_failure[columns_kept]

incidence_failure_cleaned.head()

  Geography         Sex Fiscal year  Rate (per 100,000)    Counts  Population
0    Canada  Both sexes   20002001               731.0  100690.0  13779180.0
1    Canada     Females   20002001               716.0   51370.0   7171470.0
2    Canada       Males   20002001               746.0   49315.0   6607705.0
3    Canada  Both sexes   20012002               687.0   97115.0  14138230.0
4    Canada     Females   20012002               675.0   49575.0   7349705.0

In [18]:
incidence_failure_final = incidence_failure_cleaned[incidence_failure_cleaned["Sex"] == "Both sexes"]

incidence_failure_final.head()

   Geography         Sex Fiscal year  Rate (per 100,000)    Counts  Population
0     Canada  Both sexes   20002001               731.0  100690.0  13779180.0
3     Canada  Both sexes   20012002               687.0   97115.0  14138230.0
6     Canada  Both sexes   20022003               632.0   91705.0  14510750.0
9     Canada  Both sexes   20032004               613.0   91280.0  14883465.0
12    Canada  Both sexes   20042005               587.0   89510.0  15241370.0

In [21]:
incidence_ischemic.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Rate (per 100,000)",Standard Error,Lower 95%_CI,Upper 95%_CI,Rate CV (%),Counts,Population,Unnamed: 12
0,Canada,Both sexes,Total,20+,20002001,991.0,2.12,986.0,995.0,0.21,217465.0,21952330.0,NaN
1,Canada,Females,Total,20+,20002001,886.0,2.80,880.0,891.0,0.32,100270.0,11318190.0,NaN
2,Canada,Males,Total,20+,20002001,1102.0,3.22,1096.0,1108.0,0.29,117190.0,10634135.0,NaN
3,Canada,Both sexes,Total,20+,20012002,921.0,2.04,917.0,925.0,0.22,204410.0,22186025.0,NaN
4,Canada,Females,Total,20+,20012002,827.0,2.69,822.0,833.0,0.33,94650.0,11438565.0,NaN

In [22]:
columns_kept = ["Geography", "Sex", "Fiscal year", "Rate (per 100,000)", "Counts", "Population"]
incidence_ischemic_cleaned = incidence_ischemic[columns_kept]

incidence_ischemic_cleaned.head()

  Geography         Sex Fiscal year  Rate (per 100,000)    Counts  Population
0    Canada  Both sexes   20002001               991.0  217465.0  21952330.0
1    Canada     Females   20002001               886.0  100270.0  11318190.0
2    Canada       Males   20002001              1102.0  117190.0  10634135.0
3    Canada  Both sexes   20012002               921.0  204410.0  22186025.0
4    Canada     Females   20012002               827.0   94650.0  11438565.0

In [24]:
incidence_ischemic_final = incidence_ischemic_cleaned[incidence_ischemic_cleaned["Sex"] == "Both sexes"]

incidence_ischemic_final.head()

   Geography         Sex Fiscal year  Rate (per 100,000)    Counts  Population
0     Canada  Both sexes   20002001               991.0  217465.0  21952330.0
3     Canada  Both sexes   20012002               921.0  204410.0  22186025.0
6     Canada  Both sexes   20022003               865.0  194070.0  22431845.0
9     Canada  Both sexes   20032004               824.0  187100.0  22697185.0
12    Canada  Both sexes   20042005               788.0  180950.0  22964845.0

In [27]:
incidence_myocardial.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Rate (per 100,000)",Standard Error,Lower 95%_CI,Upper 95%_CI,Rate CV (%),Counts,Population,Unnamed: 12
0,Canada,Both sexes,Total,20+,20002001,266.0,1.08,264.0,269.0,0.40,61410.0,23044910.0,NaN
1,Canada,Females,Total,20+,20002001,194.0,1.28,192.0,197.0,0.66,22935.0,11821340.0,NaN
2,Canada,Males,Total,20+,20002001,343.0,1.75,339.0,346.0,0.51,38470.0,11223560.0,NaN
3,Canada,Both sexes,Total,20+,20012002,266.0,1.07,264.0,268.0,0.40,62230.0,23371450.0,NaN
4,Canada,Females,Total,20+,20012002,197.0,1.28,195.0,200.0,0.65,23620.0,11989080.0,NaN

In [25]:
columns_kept = ["Geography", "Sex", "Fiscal year", "Rate (per 100,000)", "Counts", "Population"]
incidence_myocardial_cleaned = incidence_myocardial[columns_kept]

incidence_myocardial_cleaned.head()

  Geography         Sex Fiscal year  Rate (per 100,000)   Counts  Population
0    Canada  Both sexes   20002001               266.0  61410.0  23044910.0
1    Canada     Females   20002001               194.0  22935.0  11821340.0
2    Canada       Males   20002001               343.0  38470.0  11223560.0
3    Canada  Both sexes   20012002               266.0  62230.0  23371450.0
4    Canada     Females   20012002               197.0  23620.0  11989080.0

In [26]:
incidence_myocardial_final = incidence_myocardial_cleaned[incidence_myocardial_cleaned["Sex"] == "Both sexes"]

incidence_myocardial_final.head()

   Geography         Sex Fiscal year  Rate (per 100,000)   Counts  Population
0     Canada  Both sexes   20002001               266.0  61410.0  23044910.0
3     Canada  Both sexes   20012002               266.0  62230.0  23371450.0
6     Canada  Both sexes   20022003               264.0  62575.0  23693705.0
9     Canada  Both sexes   20032004               263.0  63185.0  24023015.0
12    Canada  Both sexes   20042005               254.0  61945.0  24344890.0

In [28]:
mortality_failure.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Mortality without the condition (per 100,000)",Standard Error of mortality without the condition,Lower 95%_CI of mortality without the condition,Upper 95%_CI of mortality without the condition,Rate CV (%) of mortality without the condition,...,Standard Error of mortality with the condition,Lower 95%_CI of mortality with the condition,Upper 95%_CI of mortality with the condition,Rate CV (%) of mortality with the condition,Counts of mortality with the condition,Population of mortality with the condition,Rate ratio,Lower 95%_CI of rate ratio,Upper 95%_CI of rate ratio,Unnamed: 22
0,Canada,Both sexes,Total,40+,20002001,1137.0,3.13,1131.0,1144.0,0.27,...,83.07,7630.0,7960.0,1.07,65940.0,458165.0,6.85,6.70,7.00,NaN
1,Canada,Females,Total,40+,20002001,934.0,3.66,927.0,941.0,0.39,...,133.24,7151.0,7685.0,1.80,33625.0,238715.0,7.93,7.65,8.22,NaN
2,Canada,Males,Total,40+,20002001,1417.0,5.70,1406.0,1429.0,0.40,...,106.57,8042.0,8468.0,1.29,32315.0,219455.0,5.82,5.67,5.98,NaN
3,Canada,Both sexes,Total,40+,20012002,1118.0,3.06,1112.0,1124.0,0.27,...,82.23,7483.0,7810.0,1.08,68175.0,488010.0,6.83,6.69,6.98,NaN
4,Canada,Females,Total,40+,20012002,923.0,3.59,916.0,930.0,0.39,...,130.74,6985.0,7509.0,1.81,34830.0,253965.0,7.84,7.56,8.13,NaN

In [29]:
mortality_failure.columns

Index(['Geography', 'Sex', 'Age group type', 'Age group', 'Fiscal year',
       'Mortality without the condition (per 100,000)',
       'Standard Error of mortality without the condition',
       'Lower 95%_CI of mortality without the condition',
       'Upper 95%_CI of mortality without the condition',
       'Rate CV (%) of mortality without the condition',
       'Counts of mortality without the condition',
       'Population of mortality without the condition',
       'Mortality with the condition (per 100,000)',
       'Standard Error of mortality with the condition',
       'Lower 95%_CI of mortality with the condition',
       'Upper 95%_CI of mortality with the condition',
       'Rate CV (%) of mortality with the condition',
       'Counts of mortality with the condition',
       'Population of mortality with the condition', 'Rate ratio',
       'Lower 95%_CI of rate ratio', 'Upper 95%_CI of rate ratio',
       'Unnamed: 22'],
      dtype='object')

In [32]:
columns_kept = ['Geography', 'Sex', 'Fiscal year', 'Mortality with the condition (per 100,000)','Population of mortality with the condition']
mortality_failure_cleaned = mortality_failure[columns_kept]

mortality_failure_cleaned.head()

,Geography,Sex,Fiscal year,"Mortality with the condition (per 100,000)",Population of mortality with the condition
0,Canada,Both sexes,20002001,7792.0,458165.0
1,Canada,Females,20002001,7410.0,238715.0
2,Canada,Males,20002001,8249.0,219455.0
3,Canada,Both sexes,20012002,7643.0,488010.0
4,Canada,Females,20012002,7239.0,253965.0

In [34]:
mortality_failure_renamed = mortality_failure_cleaned.rename(columns={"Mortality with the condition (per 100,000)": "Mortality (per 100,000)", "Population of mortality with the condition": "Population of mortality"})

mortality_failure_renamed.head()

,Geography,Sex,Fiscal year,"Mortality (per 100,000)",Population of mortality
0,Canada,Both sexes,20002001,7792.0,458165.0
1,Canada,Females,20002001,7410.0,238715.0
2,Canada,Males,20002001,8249.0,219455.0
3,Canada,Both sexes,20012002,7643.0,488010.0
4,Canada,Females,20012002,7239.0,253965.0

In [41]:
mortality_failure_final = mortality_failure_renamed[mortality_failure_renamed["Sex"] == "Both sexes"]

mortality_failure_final.head()

,Geography,Sex,Fiscal year,"Mortality (per 100,000)",Population of mortality
0,Canada,Both sexes,20002001,7792.0,458165.0
3,Canada,Both sexes,20012002,7643.0,488010.0
6,Canada,Both sexes,20022003,7264.0,510085.0
9,Canada,Both sexes,20032004,7104.0,530525.0
12,Canada,Both sexes,20042005,6754.0,545995.0

In [36]:
mortality_ischemic.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Mortality without the condition (per 100,000)",Standard Error of mortality without the condition,Lower 95%_CI of mortality without the condition,Upper 95%_CI of mortality without the condition,Rate CV (%) of mortality without the condition,...,Standard Error of mortality with the condition,Lower 95%_CI of mortality with the condition,Upper 95%_CI of mortality with the condition,Rate CV (%) of mortality with the condition,Counts of mortality with the condition,Population of mortality with the condition,Rate ratio,Lower 95%_CI of rate ratio,Upper 95%_CI of rate ratio,Unnamed: 22
0,Canada,Both sexes,Total,20+,20002001,763.0,2.21,758.0,767.0,0.29,...,36.18,2188.0,2338.0,1.60,84575.0,1494930.0,2.96,2.87,3.06,NaN
1,Canada,Females,Total,20+,20002001,636.0,2.57,631.0,641.0,0.40,...,56.77,1929.0,2172.0,2.78,39480.0,664390.0,3.21,3.04,3.39,NaN
2,Canada,Males,Total,20+,20002001,952.0,4.13,944.0,960.0,0.43,...,47.12,2386.0,2586.0,1.90,45090.0,830535.0,2.60,2.51,2.70,NaN
3,Canada,Both sexes,Total,20+,20012002,747.0,2.17,743.0,751.0,0.29,...,31.81,2139.0,2271.0,1.45,89205.0,1610400.0,2.95,2.86,3.03,NaN
4,Canada,Females,Total,20+,20012002,626.0,2.53,621.0,631.0,0.40,...,45.18,1856.0,2051.0,2.32,41870.0,717705.0,3.11,2.97,3.25,NaN

In [37]:
columns_kept = ['Geography', 'Sex', 'Fiscal year', 'Mortality with the condition (per 100,000)','Population of mortality with the condition']
mortality_ischemic_cleaned = mortality_ischemic[columns_kept]

mortality_ischemic_cleaned.head()

,Geography,Sex,Fiscal year,"Mortality with the condition (per 100,000)",Population of mortality with the condition
0,Canada,Both sexes,20002001,2258.0,1494930.0
1,Canada,Females,20002001,2039.0,664390.0
2,Canada,Males,20002001,2478.0,830535.0
3,Canada,Both sexes,20012002,2201.0,1610400.0
4,Canada,Females,20012002,1944.0,717705.0

In [38]:
mortality_ischemic_renamed = mortality_ischemic_cleaned.rename(columns={"Mortality with the condition (per 100,000)": "Mortality (per 100,000)", "Population of mortality with the condition": "Population of mortality"})

mortality_ischemic_renamed.head()

,Geography,Sex,Fiscal year,"Mortality (per 100,000)",Population of mortality
0,Canada,Both sexes,20002001,2258.0,1494930.0
1,Canada,Females,20002001,2039.0,664390.0
2,Canada,Males,20002001,2478.0,830535.0
3,Canada,Both sexes,20012002,2201.0,1610400.0
4,Canada,Females,20012002,1944.0,717705.0

In [40]:
mortality_ischemic_final = mortality_ischemic_renamed[mortality_ischemic_renamed["Sex"] == "Both sexes"]

mortality_ischemic_final.head()

,Geography,Sex,Fiscal year,"Mortality (per 100,000)",Population of mortality
0,Canada,Both sexes,20002001,2258.0,1494930.0
3,Canada,Both sexes,20012002,2201.0,1610400.0
6,Canada,Both sexes,20022003,2117.0,1710550.0
9,Canada,Both sexes,20032004,2052.0,1799920.0
12,Canada,Both sexes,20042005,1919.0,1878505.0

In [42]:
mortality_myocardial.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Mortality without the condition (per 100,000)",Standard Error of mortality without the condition,Lower 95%_CI of mortality without the condition,Upper 95%_CI of mortality without the condition,Rate CV (%) of mortality without the condition,...,Standard Error of mortality with the condition,Lower 95%_CI of mortality with the condition,Upper 95%_CI of mortality with the condition,Rate CV (%) of mortality with the condition,Counts of mortality with the condition,Population of mortality with the condition,Rate ratio,Lower 95%_CI of rate ratio,Upper 95%_CI of rate ratio,Unnamed: 22
0,Canada,Both sexes,Total,20+,20002001,898.0,2.12,894.0,902.0,0.24,...,202.53,4132.0,5060.0,4.48,25090.0,246300.0,5.04,4.61,5.50,NaN
1,Canada,Females,Total,20+,20002001,736.0,2.48,731.0,741.0,0.34,...,865.20,4734.0,9028.0,13.70,11150.0,83915.0,8.58,6.56,11.23,NaN
2,Canada,Males,Total,20+,20002001,1123.0,3.84,1116.0,1131.0,0.34,...,167.73,3835.0,4671.0,4.03,13935.0,162385.0,3.70,3.42,4.01,NaN
3,Canada,Both sexes,Total,20+,20012002,882.0,2.07,878.0,886.0,0.23,...,199.70,4040.0,4933.0,4.52,27345.0,282785.0,5.01,4.59,5.48,NaN
4,Canada,Females,Total,20+,20012002,727.0,2.43,722.0,732.0,0.33,...,665.13,4431.0,8025.0,11.75,11990.0,96160.0,7.78,6.18,9.80,NaN

In [43]:
columns_kept = ['Geography', 'Sex', 'Fiscal year', 'Mortality with the condition (per 100,000)','Population of mortality with the condition']
mortality_myocardial_cleaned = mortality_myocardial[columns_kept]

mortality_myocardial_cleaned.head()

,Geography,Sex,Fiscal year,"Mortality with the condition (per 100,000)",Population of mortality with the condition
0,Canada,Both sexes,20002001,4520.0,246300.0
1,Canada,Females,20002001,6315.0,83915.0
2,Canada,Males,20002001,4157.0,162385.0
3,Canada,Both sexes,20012002,4422.0,282785.0
4,Canada,Females,20012002,5659.0,96160.0

In [44]:
mortality_myocardial_renamed = mortality_myocardial_cleaned.rename(columns={"Mortality with the condition (per 100,000)": "Mortality (per 100,000)", "Population of mortality with the condition": "Population of mortality"})

mortality_myocardial_renamed.head()

,Geography,Sex,Fiscal year,"Mortality (per 100,000)",Population of mortality
0,Canada,Both sexes,20002001,4520.0,246300.0
1,Canada,Females,20002001,6315.0,83915.0
2,Canada,Males,20002001,4157.0,162385.0
3,Canada,Both sexes,20012002,4422.0,282785.0
4,Canada,Females,20012002,5659.0,96160.0

In [45]:
mortality_myocardial_final = mortality_myocardial_renamed[mortality_myocardial_renamed["Sex"] == "Both sexes"]

mortality_myocardial_final.head()

,Geography,Sex,Fiscal year,"Mortality (per 100,000)",Population of mortality
0,Canada,Both sexes,20002001,4520.0,246300.0
3,Canada,Both sexes,20012002,4422.0,282785.0
6,Canada,Both sexes,20022003,4078.0,317205.0
9,Canada,Both sexes,20032004,3897.0,350170.0
12,Canada,Both sexes,20042005,3653.0,379450.0

In [52]:
incidence_failure_path = "incidence_failure_final.csv"
incidence_failure_final.to_csv(incidence_failure_path)

incidence_ischemic_path = "incidence_ischemic_final.csv"
incidence_ischemic_final.to_csv(incidence_ischemic_path)

incidence_myocardial_path = "incidence_myocardial_final.csv"
incidence_myocardial_final.to_csv(incidence_myocardial_path)

mortality_failure_path = "mortality_failure_final.csv"
mortality_failure_final.to_csv(mortality_failure_path)

mortality_ischemic_path = "mortality_ischemic_final.csv"
mortality_ischemic_final.to_csv(mortality_ischemic_path)

mortality_myocardial_path = "mortality_myocardial_final.csv"
mortality_myocardial_final.to_csv(mortality_myocardial_path)

In [48]:
alberta_risks

,Geography,Alberta,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Age group,"Total, 12 years and over",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sex,Both sexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Characteristics 5 7 8 9 10 11 12 13 14,Number of persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicators,2015,2016,2017,2018,2019,2020,2021,2022
4,"Perceived health, very good or excellent 15","2,321,500","2,247,300","2,258,400","2,266,700","2,339,000","2,330,900","2,249,200","2,166,800"
...,...,...,...,...,...,...,...,...,...
96,57,Medical doctor includes family or general prac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,58,"Due to content changes, this indicator is now ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,59,Population aged 12 and over who reported havin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,How to cite: Statistics Canada. Table 13-10-00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
alberta_risks.columns

Index(['Geography', 'Alberta', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')