In [1]:
import pandas as pd
from pathlib import Path

In [2]:
incidence_failure_path = Path("../Resources/incidence_rates/failure_incidence.csv") 
incidence_failure = pd.read_csv(incidence_failure_path, encoding='ISO-8859-1',skiprows=1 )

incidence_ischemic_path = Path("../Resources/incidence_rates/ischemic_incidence.csv") 
incidence_ischemic = pd.read_csv(incidence_ischemic_path, encoding='ISO-8859-1', skiprows=1)

incidence_myocardial_path = Path("../Resources/incidence_rates/myocardial_incidence.csv") 
incidence_myocardial = pd.read_csv(incidence_myocardial_path, encoding='ISO-8859-1',skiprows=1)

In [3]:
mortality_failure_path = Path("../Resources/mortality_rates/failure_mortality.csv") 
mortality_failure = pd.read_csv(mortality_failure_path, encoding='ISO-8859-1', skiprows=1)

mortality_ischemic_path = Path("../Resources/mortality_rates/ischemic_mortality.csv") 
mortality_ischemic = pd.read_csv(mortality_ischemic_path, encoding='ISO-8859-1', skiprows=1)

mortality_myocardial_path = Path("../Resources/mortality_rates/myocardial_mortality.csv") 
mortality_myocardial = pd.read_csv(mortality_myocardial_path, encoding='ISO-8859-1', skiprows=1)

In [33]:
healthcare_spending_path = Path("../Resources/healthcare_summary.csv") 
healthcare_spending = pd.read_csv(healthcare_spending_path, encoding='ISO-8859-1', skiprows=4)

In [5]:
alberta_risks_path = Path("../Resources/risk_factors/alberta_risks.csv")
alberta_risks = pd.read_csv(alberta_risks_path, encoding='ISO-8859-1', on_bad_lines='skip', skiprows=8)

bc_risks_path = Path("../Resources/risk_factors/bc_risks.csv")
bc_risks = pd.read_csv(bc_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

manitoba_risks_path = Path("../Resources/risk_factors/manitoba_risks.csv")
manitoba_risks = pd.read_csv(manitoba_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

nb_risks_path = Path("../Resources/risk_factors/nb_risks.csv")
nb_risks = pd.read_csv(nb_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

nfl_risks_path = Path("../Resources/risk_factors/nfl_risks.csv")
nfl_risks = pd.read_csv(nfl_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

ns_risks_path = Path("../Resources/risk_factors/ns_risks.csv")
ns_risks = pd.read_csv(ns_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

ontario_risks_path = Path("../Resources/risk_factors/ontario_risks.csv")
ontario_risks = pd.read_csv(ontario_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

pei_risks_path = Path("../Resources/risk_factors/pei_risks.csv")
pei_risks = pd.read_csv(pei_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

quebec_risks_path = Path("../Resources/risk_factors/quebec_risks.csv")
quebec_risks = pd.read_csv(quebec_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

sask_risks_path = Path("../Resources/risk_factors/sask_risks.csv")
sask_risks = pd.read_csv(sask_risks_path, encoding='ISO-8859-1', on_bad_lines='skip')

In [6]:
incidence_failure.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Rate (per 100,000)",Standard Error,Lower 95%_CI,Upper 95%_CI,Rate CV (%),Counts,Population,Unnamed: 12
0,Canada,Both sexes,Total,40+,20002001,731.0,2.30,726.0,735.0,0.32,100690.0,13779180.0,NaN
1,Canada,Females,Total,40+,20002001,716.0,3.16,710.0,723.0,0.44,51370.0,7171470.0,NaN
2,Canada,Males,Total,40+,20002001,746.0,3.36,740.0,753.0,0.45,49315.0,6607705.0,NaN
3,Canada,Both sexes,Total,40+,20012002,687.0,2.20,683.0,691.0,0.32,97115.0,14138230.0,NaN
4,Canada,Females,Total,40+,20012002,675.0,3.03,669.0,680.0,0.45,49575.0,7349705.0,NaN

In [7]:
incidence_failure.columns

Index(['Geography', 'Sex', 'Age group type', 'Age group', 'Fiscal year',
       'Rate (per 100,000)', 'Standard Error', 'Lower 95%_CI', 'Upper 95%_CI',
       'Rate CV (%)', 'Counts', 'Population', 'Unnamed: 12'],
      dtype='object')

In [8]:
columns_kept = ["Geography", "Sex", "Fiscal year", "Rate (per 100,000)", "Counts", "Population"]
incidence_failure_cleaned = incidence_failure[columns_kept]



incidence_failure_cleaned.head()

  Geography         Sex Fiscal year  Rate (per 100,000)    Counts  Population
0    Canada  Both sexes   20002001               731.0  100690.0  13779180.0
1    Canada     Females   20002001               716.0   51370.0   7171470.0
2    Canada       Males   20002001               746.0   49315.0   6607705.0
3    Canada  Both sexes   20012002               687.0   97115.0  14138230.0
4    Canada     Females   20012002               675.0   49575.0   7349705.0

In [9]:
# Replace non-ASCII characters in 'Fiscal year'
incidence_failure_cleaned['Fiscal year'] = incidence_failure_cleaned['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)

# Fill missing values or handle incomplete rows
incidence_failure_cleaned.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)

incidence_failure_final = incidence_failure_cleaned[incidence_failure_cleaned["Sex"] == "Both sexes"]

/var/folders/x8/wnndqnn93fb22g5jj7f1x0xr0000gn/T/ipykernel_19241/1882047655.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_failure_cleaned['Fiscal year'] = incidence_failure_cleaned['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)
/var/folders/x8/wnndqnn93fb22g5jj7f1x0xr0000gn/T/ipykernel_19241/1882047655.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_failure_cleaned.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)

In [43]:
# Reset index and drop the old index
incidence_failure_final.reset_index(drop=True, inplace=True)
incidence_failure_final = incidence_failure_final.iloc[:963]

incidence_failure_final

,Geography,Sex,Fiscal year,"Rate (per 100,000)",Counts,Population
0,Canada,Both sexes,2000-2001,731.0,100690.0,13779180.0
1,Canada,Both sexes,2001-2002,687.0,97115.0,14138230.0
2,Canada,Both sexes,2002-2003,632.0,91705.0,14510750.0
3,Canada,Both sexes,2003-2004,613.0,91280.0,14883465.0
4,Canada,Both sexes,2004-2005,587.0,89510.0,15241370.0
...,...,...,...,...,...,...
317,Nunavut,Both sexes,2018-2019,512.0,60.0,11730.0
318,Nunavut,Both sexes,2019-2020,468.0,55.0,11745.0
319,Nunavut,Both sexes,2020-2021*,381.0,45.0,11815.0
320,Nunavut,Both sexes,2021-2022*,496.0,60.0,12100.0
321,Nunavut,Both sexes,2022-2023*,526.0,65.0,12350.0

In [11]:
incidence_ischemic.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Rate (per 100,000)",Standard Error,Lower 95%_CI,Upper 95%_CI,Rate CV (%),Counts,Population,Unnamed: 12
0,Canada,Both sexes,Total,20+,20002001,991.0,2.12,986.0,995.0,0.21,217465.0,21952330.0,NaN
1,Canada,Females,Total,20+,20002001,886.0,2.80,880.0,891.0,0.32,100270.0,11318190.0,NaN
2,Canada,Males,Total,20+,20002001,1102.0,3.22,1096.0,1108.0,0.29,117190.0,10634135.0,NaN
3,Canada,Both sexes,Total,20+,20012002,921.0,2.04,917.0,925.0,0.22,204410.0,22186025.0,NaN
4,Canada,Females,Total,20+,20012002,827.0,2.69,822.0,833.0,0.33,94650.0,11438565.0,NaN

In [12]:
columns_kept = ["Geography", "Sex", "Fiscal year", "Rate (per 100,000)", "Counts", "Population"]
incidence_ischemic_cleaned = incidence_ischemic[columns_kept]

incidence_ischemic_cleaned.head()

  Geography         Sex Fiscal year  Rate (per 100,000)    Counts  Population
0    Canada  Both sexes   20002001               991.0  217465.0  21952330.0
1    Canada     Females   20002001               886.0  100270.0  11318190.0
2    Canada       Males   20002001              1102.0  117190.0  10634135.0
3    Canada  Both sexes   20012002               921.0  204410.0  22186025.0
4    Canada     Females   20012002               827.0   94650.0  11438565.0

In [42]:
# Replace non-ASCII characters in 'Fiscal year'
incidence_ischemic_cleaned['Fiscal year'] = incidence_ischemic_cleaned['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)

# Fill missing values or handle incomplete rows
incidence_ischemic_cleaned.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)


incidence_ischemic_final = incidence_ischemic_cleaned[incidence_ischemic_cleaned["Sex"] == "Both sexes"]
incidence_ischemic_final = incidence_ischemic_final.iloc[:963]

incidence_ischemic_final

/var/folders/x8/wnndqnn93fb22g5jj7f1x0xr0000gn/T/ipykernel_19241/3859586134.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_ischemic_cleaned['Fiscal year'] = incidence_ischemic_cleaned['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)
/var/folders/x8/wnndqnn93fb22g5jj7f1x0xr0000gn/T/ipykernel_19241/3859586134.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_ischemic_cleaned.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)

,Geography,Sex,Fiscal year,"Rate (per 100,000)",Counts,Population
0,Canada,Both sexes,2000-2001,991.0,217465.0,21952330.0
3,Canada,Both sexes,2001-2002,921.0,204410.0,22186025.0
6,Canada,Both sexes,2002-2003,865.0,194070.0,22431845.0
9,Canada,Both sexes,2003-2004,824.0,187100.0,22697185.0
12,Canada,Both sexes,2004-2005,788.0,180950.0,22964845.0
...,...,...,...,...,...,...
951,Nunavut,Both sexes,2018-2019,266.0,65.0,24395.0
954,Nunavut,Both sexes,2019-2020,288.0,70.0,24305.0
957,Nunavut,Both sexes,2020-2021*,205.0,50.0,24335.0
960,Nunavut,Both sexes,2021-2022*,324.0,80.0,24705.0
963,Nunavut,Both sexes,2022-2023*,280.0,70.0,24980.0

In [40]:
incidence_myocardial

,Geography,Sex,Age group type,Age group,Fiscal year,"Rate (per 100,000)",Standard Error,Lower 95%_CI,Upper 95%_CI,Rate CV (%),Counts,Population,Unnamed: 12
0,Canada,Both sexes,Total,20+,20002001,266.0,1.08,264.0,269.0,0.40,61410.0,23044910.0,NaN
1,Canada,Females,Total,20+,20002001,194.0,1.28,192.0,197.0,0.66,22935.0,11821340.0,NaN
2,Canada,Males,Total,20+,20002001,343.0,1.75,339.0,346.0,0.51,38470.0,11223560.0,NaN
3,Canada,Both sexes,Total,20+,20012002,266.0,1.07,264.0,268.0,0.40,62230.0,23371450.0,NaN
4,Canada,Females,Total,20+,20012002,197.0,1.28,195.0,200.0,0.65,23620.0,11989080.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
979,Canadian Chronic Disease Surveillance System 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
980,https://health-infobase.canada.ca/CCDSS/data-t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,https://sante-infobase.canada.ca/SCSMC/outil-d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,Date downloaded: 2024-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
columns_kept = ["Geography", "Sex", "Fiscal year", "Rate (per 100,000)", "Counts", "Population"]
incidence_myocardial_cleaned = incidence_myocardial[columns_kept]

incidence_myocardial_cleaned.head()

  Geography         Sex Fiscal year  Rate (per 100,000)   Counts  Population
0    Canada  Both sexes   20002001               266.0  61410.0  23044910.0
1    Canada     Females   20002001               194.0  22935.0  11821340.0
2    Canada       Males   20002001               343.0  38470.0  11223560.0
3    Canada  Both sexes   20012002               266.0  62230.0  23371450.0
4    Canada     Females   20012002               197.0  23620.0  11989080.0

In [41]:
# Replace non-ASCII characters in 'Fiscal year'
incidence_myocardial_cleaned['Fiscal year'] = incidence_myocardial_cleaned['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)

# Fill missing values or handle incomplete rows
incidence_myocardial_cleaned.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)


incidence_myocardial_final = incidence_myocardial_cleaned[incidence_myocardial_cleaned["Sex"] == "Both sexes"]
incidence_myocardial_final = incidence_myocardial_final.iloc[:963]

incidence_myocardial_final

/var/folders/x8/wnndqnn93fb22g5jj7f1x0xr0000gn/T/ipykernel_19241/3261219661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_myocardial_cleaned['Fiscal year'] = incidence_myocardial_cleaned['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)
/var/folders/x8/wnndqnn93fb22g5jj7f1x0xr0000gn/T/ipykernel_19241/3261219661.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_myocardial_cleaned.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)

    Geography         Sex Fiscal year  Rate (per 100,000)   Counts  Population
0      Canada  Both sexes   2000-2001               266.0  61410.0  23044910.0
3      Canada  Both sexes   2001-2002               266.0  62230.0  23371450.0
6      Canada  Both sexes   2002-2003               264.0  62575.0  23693705.0
9      Canada  Both sexes   2003-2004               263.0  63185.0  24023015.0
12     Canada  Both sexes   2004-2005               254.0  61945.0  24344890.0
..        ...         ...         ...                 ...      ...         ...
951   Nunavut  Both sexes   2018-2019               120.0     30.0     24910.0
954   Nunavut  Both sexes   2019-2020               101.0     25.0     24805.0
957   Nunavut  Both sexes  2020-2021*                80.0     20.0     24850.0
960   Nunavut  Both sexes  2021-2022*               159.0     40.0     25220.0
963   Nunavut  Both sexes  2022-2023*               137.0     35.0     25515.0

[322 rows x 6 columns]

In [44]:
mortality_failure

,Geography,Sex,Age group type,Age group,Fiscal year,"Mortality without the condition (per 100,000)",Standard Error of mortality without the condition,Lower 95%_CI of mortality without the condition,Upper 95%_CI of mortality without the condition,Rate CV (%) of mortality without the condition,...,Standard Error of mortality with the condition,Lower 95%_CI of mortality with the condition,Upper 95%_CI of mortality with the condition,Rate CV (%) of mortality with the condition,Counts of mortality with the condition,Population of mortality with the condition,Rate ratio,Lower 95%_CI of rate ratio,Upper 95%_CI of rate ratio,Unnamed: 22
0,Canada,Both sexes,Total,40+,20002001,1137.0,3.13,1131.0,1144.0,0.27,...,83.07,7630.0,7960.0,1.07,65940.0,458165.0,6.85,6.70,7.00,NaN
1,Canada,Females,Total,40+,20002001,934.0,3.66,927.0,941.0,0.39,...,133.24,7151.0,7685.0,1.80,33625.0,238715.0,7.93,7.65,8.22,NaN
2,Canada,Males,Total,40+,20002001,1417.0,5.70,1406.0,1429.0,0.40,...,106.57,8042.0,8468.0,1.29,32315.0,219455.0,5.82,5.67,5.98,NaN
3,Canada,Both sexes,Total,40+,20012002,1118.0,3.06,1112.0,1124.0,0.27,...,82.23,7483.0,7810.0,1.08,68175.0,488010.0,6.83,6.69,6.98,NaN
4,Canada,Females,Total,40+,20012002,923.0,3.59,916.0,930.0,0.39,...,130.74,6985.0,7509.0,1.81,34830.0,253965.0,7.84,7.56,8.13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,Canadian Chronic Disease Surveillance System 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,https://health-infobase.canada.ca/CCDSS/data-t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,https://sante-infobase.canada.ca/SCSMC/outil-d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,Date downloaded: 2024-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
mortality_failure.columns

Index(['Geography', 'Sex', 'Age group type', 'Age group', 'Fiscal year',
       'Mortality without the condition (per 100,000)',
       'Standard Error of mortality without the condition',
       'Lower 95%_CI of mortality without the condition',
       'Upper 95%_CI of mortality without the condition',
       'Rate CV (%) of mortality without the condition',
       'Counts of mortality without the condition',
       'Population of mortality without the condition',
       'Mortality with the condition (per 100,000)',
       'Standard Error of mortality with the condition',
       'Lower 95%_CI of mortality with the condition',
       'Upper 95%_CI of mortality with the condition',
       'Rate CV (%) of mortality with the condition',
       'Counts of mortality with the condition',
       'Population of mortality with the condition', 'Rate ratio',
       'Lower 95%_CI of rate ratio', 'Upper 95%_CI of rate ratio',
       'Unnamed: 22'],
      dtype='object')

In [19]:
columns_kept = ['Geography', 'Sex', 'Fiscal year', 'Mortality with the condition (per 100,000)','Population of mortality with the condition']
mortality_failure_cleaned = mortality_failure[columns_kept]

mortality_failure_cleaned.head()

,Geography,Sex,Fiscal year,"Mortality with the condition (per 100,000)",Population of mortality with the condition
0,Canada,Both sexes,20002001,7792.0,458165.0
1,Canada,Females,20002001,7410.0,238715.0
2,Canada,Males,20002001,8249.0,219455.0
3,Canada,Both sexes,20012002,7643.0,488010.0
4,Canada,Females,20012002,7239.0,253965.0

In [20]:
mortality_failure_renamed = mortality_failure_cleaned.rename(columns={"Mortality with the condition (per 100,000)": "Rate (per 100,000)", "Population of mortality with the condition": "Population"})

mortality_failure_renamed.head()

  Geography         Sex Fiscal year  Rate (per 100,000)  Population
0    Canada  Both sexes   20002001              7792.0    458165.0
1    Canada     Females   20002001              7410.0    238715.0
2    Canada       Males   20002001              8249.0    219455.0
3    Canada  Both sexes   20012002              7643.0    488010.0
4    Canada     Females   20012002              7239.0    253965.0

In [45]:
# Replace non-ASCII characters in 'Fiscal year'
mortality_failure_renamed['Fiscal year'] = mortality_failure_renamed['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)

# Fill missing values or handle incomplete rows
mortality_failure_renamed.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)


mortality_failure_final = mortality_failure_renamed[mortality_failure_renamed["Sex"] == "Both sexes"]
mortality_failure_final = mortality_failure_final.iloc[:963]
mortality_failure_final

    Geography         Sex Fiscal year  Rate (per 100,000)  Population
0      Canada  Both sexes   2000-2001              7792.0    458165.0
3      Canada  Both sexes   2001-2002              7643.0    488010.0
6      Canada  Both sexes   2002-2003              7264.0    510085.0
9      Canada  Both sexes   2003-2004              7104.0    530525.0
12     Canada  Both sexes   2004-2005              6754.0    545995.0
..        ...         ...         ...                 ...         ...
951   Nunavut  Both sexes   2018-2019              8145.0       430.0
954   Nunavut  Both sexes   2019-2020              5669.0       425.0
957   Nunavut  Both sexes  2020-2021*              4002.0       435.0
960   Nunavut  Both sexes  2021-2022*              4694.0       455.0
963   Nunavut  Both sexes  2022-2023*              3390.0       480.0

[322 rows x 5 columns]

In [22]:
mortality_ischemic.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Mortality without the condition (per 100,000)",Standard Error of mortality without the condition,Lower 95%_CI of mortality without the condition,Upper 95%_CI of mortality without the condition,Rate CV (%) of mortality without the condition,...,Standard Error of mortality with the condition,Lower 95%_CI of mortality with the condition,Upper 95%_CI of mortality with the condition,Rate CV (%) of mortality with the condition,Counts of mortality with the condition,Population of mortality with the condition,Rate ratio,Lower 95%_CI of rate ratio,Upper 95%_CI of rate ratio,Unnamed: 22
0,Canada,Both sexes,Total,20+,20002001,763.0,2.21,758.0,767.0,0.29,...,36.18,2188.0,2338.0,1.60,84575.0,1494930.0,2.96,2.87,3.06,NaN
1,Canada,Females,Total,20+,20002001,636.0,2.57,631.0,641.0,0.40,...,56.77,1929.0,2172.0,2.78,39480.0,664390.0,3.21,3.04,3.39,NaN
2,Canada,Males,Total,20+,20002001,952.0,4.13,944.0,960.0,0.43,...,47.12,2386.0,2586.0,1.90,45090.0,830535.0,2.60,2.51,2.70,NaN
3,Canada,Both sexes,Total,20+,20012002,747.0,2.17,743.0,751.0,0.29,...,31.81,2139.0,2271.0,1.45,89205.0,1610400.0,2.95,2.86,3.03,NaN
4,Canada,Females,Total,20+,20012002,626.0,2.53,621.0,631.0,0.40,...,45.18,1856.0,2051.0,2.32,41870.0,717705.0,3.11,2.97,3.25,NaN

In [23]:
columns_kept = ['Geography', 'Sex', 'Fiscal year', 'Mortality with the condition (per 100,000)','Population of mortality with the condition']
mortality_ischemic_cleaned = mortality_ischemic[columns_kept]

mortality_ischemic_cleaned.head()

,Geography,Sex,Fiscal year,"Mortality with the condition (per 100,000)",Population of mortality with the condition
0,Canada,Both sexes,20002001,2258.0,1494930.0
1,Canada,Females,20002001,2039.0,664390.0
2,Canada,Males,20002001,2478.0,830535.0
3,Canada,Both sexes,20012002,2201.0,1610400.0
4,Canada,Females,20012002,1944.0,717705.0

In [24]:
mortality_ischemic_renamed = mortality_ischemic_cleaned.rename(columns={"Mortality with the condition (per 100,000)": "Rate (per 100,000)", "Population of mortality with the condition": "Population "})

mortality_ischemic_renamed.head()

  Geography         Sex Fiscal year  Rate (per 100,000)  Population
0    Canada  Both sexes   20002001              2258.0    1494930.0
1    Canada     Females   20002001              2039.0     664390.0
2    Canada       Males   20002001              2478.0     830535.0
3    Canada  Both sexes   20012002              2201.0    1610400.0
4    Canada     Females   20012002              1944.0     717705.0

In [46]:
# Replace non-ASCII characters in 'Fiscal year'
mortality_ischemic_renamed['Fiscal year'] = mortality_ischemic_renamed['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)

# Fill missing values or handle incomplete rows
mortality_ischemic_renamed.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)


mortality_ischemic_final = mortality_ischemic_renamed[mortality_ischemic_renamed["Sex"] == "Both sexes"]
mortality_ischemic_final = mortality_ischemic_final.iloc[:963]
mortality_ischemic_final

    Geography         Sex Fiscal year  Rate (per 100,000)  Population
0      Canada  Both sexes   2000-2001              2258.0    1494930.0
3      Canada  Both sexes   2001-2002              2201.0    1610400.0
6      Canada  Both sexes   2002-2003              2117.0    1710550.0
9      Canada  Both sexes   2003-2004              2052.0    1799920.0
12     Canada  Both sexes   2004-2005              1919.0    1878505.0
..        ...         ...         ...                 ...          ...
951   Nunavut  Both sexes   2018-2019              2871.0        760.0
954   Nunavut  Both sexes   2019-2020              1951.0        775.0
957   Nunavut  Both sexes  2020-2021*                 NaN          NaN
960   Nunavut  Both sexes  2021-2022*              2733.0        805.0
963   Nunavut  Both sexes  2022-2023*              1364.0        830.0

[322 rows x 5 columns]

In [26]:
mortality_myocardial.head()

,Geography,Sex,Age group type,Age group,Fiscal year,"Mortality without the condition (per 100,000)",Standard Error of mortality without the condition,Lower 95%_CI of mortality without the condition,Upper 95%_CI of mortality without the condition,Rate CV (%) of mortality without the condition,...,Standard Error of mortality with the condition,Lower 95%_CI of mortality with the condition,Upper 95%_CI of mortality with the condition,Rate CV (%) of mortality with the condition,Counts of mortality with the condition,Population of mortality with the condition,Rate ratio,Lower 95%_CI of rate ratio,Upper 95%_CI of rate ratio,Unnamed: 22
0,Canada,Both sexes,Total,20+,20002001,898.0,2.12,894.0,902.0,0.24,...,202.53,4132.0,5060.0,4.48,25090.0,246300.0,5.04,4.61,5.50,NaN
1,Canada,Females,Total,20+,20002001,736.0,2.48,731.0,741.0,0.34,...,865.20,4734.0,9028.0,13.70,11150.0,83915.0,8.58,6.56,11.23,NaN
2,Canada,Males,Total,20+,20002001,1123.0,3.84,1116.0,1131.0,0.34,...,167.73,3835.0,4671.0,4.03,13935.0,162385.0,3.70,3.42,4.01,NaN
3,Canada,Both sexes,Total,20+,20012002,882.0,2.07,878.0,886.0,0.23,...,199.70,4040.0,4933.0,4.52,27345.0,282785.0,5.01,4.59,5.48,NaN
4,Canada,Females,Total,20+,20012002,727.0,2.43,722.0,732.0,0.33,...,665.13,4431.0,8025.0,11.75,11990.0,96160.0,7.78,6.18,9.80,NaN

In [27]:
columns_kept = ['Geography', 'Sex', 'Fiscal year', 'Mortality with the condition (per 100,000)','Population of mortality with the condition']
mortality_myocardial_cleaned = mortality_myocardial[columns_kept]

mortality_myocardial_cleaned.head()

,Geography,Sex,Fiscal year,"Mortality with the condition (per 100,000)",Population of mortality with the condition
0,Canada,Both sexes,20002001,4520.0,246300.0
1,Canada,Females,20002001,6315.0,83915.0
2,Canada,Males,20002001,4157.0,162385.0
3,Canada,Both sexes,20012002,4422.0,282785.0
4,Canada,Females,20012002,5659.0,96160.0

In [28]:
mortality_myocardial_renamed = mortality_myocardial_cleaned.rename(columns={"Mortality with the condition (per 100,000)": "Rate (per 100,000)", "Population of mortality with the condition": "Population "})

mortality_myocardial_renamed.head()

  Geography         Sex Fiscal year  Rate (per 100,000)  Population
0    Canada  Both sexes   20002001              4520.0     246300.0
1    Canada     Females   20002001              6315.0      83915.0
2    Canada       Males   20002001              4157.0     162385.0
3    Canada  Both sexes   20012002              4422.0     282785.0
4    Canada     Females   20012002              5659.0      96160.0

In [47]:
# Replace non-ASCII characters in 'Fiscal year'
mortality_myocardial_renamed['Fiscal year'] = mortality_myocardial_renamed['Fiscal year'].str.replace(r'[^\x00-\x7F]+', '-', regex=True)

# Fill missing values or handle incomplete rows
mortality_myocardial_renamed.fillna(value={'Rate (per 100,000)': 0, 'Counts': 0, 'Population': 0}, inplace=True)


mortality_myocardial_final = mortality_myocardial_renamed[mortality_myocardial_renamed["Sex"] == "Both sexes"]
mortality_myocardial_final = mortality_myocardial_final.iloc[:963]
mortality_myocardial_final

    Geography         Sex Fiscal year  Rate (per 100,000)  Population
0      Canada  Both sexes   2000-2001              4520.0     246300.0
3      Canada  Both sexes   2001-2002              4422.0     282785.0
6      Canada  Both sexes   2002-2003              4078.0     317205.0
9      Canada  Both sexes   2003-2004              3897.0     350170.0
12     Canada  Both sexes   2004-2005              3653.0     379450.0
..        ...         ...         ...                 ...          ...
951   Nunavut  Both sexes   2018-2019                 NaN          NaN
954   Nunavut  Both sexes   2019-2020                 NaN          NaN
957   Nunavut  Both sexes  2020-2021*                 NaN          NaN
960   Nunavut  Both sexes  2021-2022*                 NaN          NaN
963   Nunavut  Both sexes  2022-2023*              2531.0        265.0

[322 rows x 5 columns]

In [48]:
incidence_failure_path = "incidence_failure_final.csv"
incidence_failure_final.to_csv(incidence_failure_path,index=False)

incidence_ischemic_path = "incidence_ischemic_final.csv"
incidence_ischemic_final.to_csv(incidence_ischemic_path,index=False)

incidence_myocardial_path = "incidence_myocardial_final.csv"
incidence_myocardial_final.to_csv(incidence_myocardial_path,index=False)

mortality_failure_path = "mortality_failure_final.csv"
mortality_failure_final.to_csv(mortality_failure_path,index=False)

mortality_ischemic_path = "mortality_ischemic_final.csv"
mortality_ischemic_final.to_csv(mortality_ischemic_path,index=False)

mortality_myocardial_path = "mortality_myocardial_final.csv"
mortality_myocardial_final.to_csv(mortality_myocardial_path,index=False)

In [63]:
alberta_risks

,Geography,Alberta,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Age group,"Total, 12 years and over",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sex,Both sexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Characteristics 5 7 8 9 10 11 12 13 14,Number of persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicators,2015,2016,2017,2018,2019,2020,2021,2022
4,"Perceived health, very good or excellent 15","2,321,500","2,247,300","2,258,400","2,266,700","2,339,000","2,330,900","2,249,200","2,166,800"
...,...,...,...,...,...,...,...,...,...
96,57,Medical doctor includes family or general prac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,58,"Due to content changes, this indicator is now ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,59,Population aged 12 and over who reported havin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,How to cite: Statistics Canada. Table 13-10-00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
alberta_risks.columns

Index(['Geography', 'Alberta', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [34]:
healthcare_spending.head()

,Year,N.L.,P.E.I.,N.S.,N.B.,Que.,Ont.,Man.,Sask.,Alta.,B.C.,Y.T.,N.W.T.,Nun.,Canada
0,19741975,174.6,35.6,228.1,169.9,"2,141.7","2,767.2",315.3,259.8,571.6,743.7,5.4,12.8,,"7,425.9"
1,19751976,207.4,43.5,279.8,214.9,"2,661.1","3,268.9",397.2,316.2,736.0,989.7,6.4,16.1,,"9,137.1"
2,19761977,222.9,46.0,310.3,251.6,"3,076.3","3,727.0",466.7,380.0,836.7,"1,113.7",9.6,19.9,,"10,460.8"
3,19771978,237.0,51.7,342.7,278.4,"3,333.5","3,996.5",507.5,421.0,893.2,"1,219.6",10.1,24.6,,"11,315.8"
4,19781979,265.4,57.9,379.1,306.0,"3,771.3","4,307.0",530.7,454.1,"1,062.9","1,411.9",11.8,29.2,,"12,587.3"

In [53]:
healthcare_spending_final = healthcare_spending[healthcare_spending['Year'] >= '2000']
healthcare_spending_final.reset_index(drop=True, inplace=True)
healthcare_spending_final = healthcare_spending_final.iloc[:24]

healthcare_spending_final

,Year,N.L.,P.E.I.,N.S.,N.B.,Que.,Ont.,Man.,Sask.,Alta.,B.C.,Y.T.,N.W.T.,Nun.,Canada
0,20002001,"1,261.9",269.2,"1,795.2","1,493.6","14,781.3","24,547.7","2,677.3","2,143.5","6,361.6","9,342.4",86.8,156.8,140.0,"65,057.3"
1,20012002,"1,362.8",311.3,"1,915.1","1,624.7","15,792.6","25,489.1","2,837.0","2,311.9","7,255.7","10,379.7",97.5,177.9,146.4,"69,701.6"
2,20022003,"1,441.4",350.9,"2,110.8","1,701.9","16,478.0","27,904.2","3,022.1","2,446.3","7,872.2","10,910.5",103.1,188.0,191.8,"74,721.0"
3,20032004,"1,518.9",353.9,"2,300.9","1,827.9","17,424.3","31,141.3","3,274.8","2,586.3","8,420.7","11,275.3",105.7,196.5,237.2,"80,663.8"
4,20042005,"1,543.1",351.8,"2,401.5","1,998.8","18,491.2","33,180.5","3,499.2","2,813.5","9,366.6","11,524.6",115.6,215.3,236.5,"85,738.2"
5,20052006,"1,613.8",376.5,"2,631.5","2,176.9","19,348.4","35,463.6","3,751.4","3,070.9","10,477.1","12,302.9",125.7,217.0,233.3,"91,789.1"
6,20062007,"1,734.3",391.6,"2,941.0","2,379.2","20,968.5","37,938.5","3,960.3","3,265.3","11,605.3","12,889.1",142.7,232.3,264.5,"98,712.6"
7,20072008,"1,860.8",420.7,"3,105.0","2,516.2","22,262.0","40,400.5","4,183.1","3,534.8","12,625.8","13,626.6",147.3,259.0,262.1,"105,203.9"
8,20082009,"2,046.0",463.2,"3,279.1","2,668.5","23,752.9","43,336.6","4,518.1","3,820.5","14,110.9","14,832.7",165.2,280.4,278.3,"113,552.4"
9,20092010,"2,255.0",524.2,"3,423.9","2,826.6","25,573.5","45,996.0","4,875.6","4,041.8","14,745.2","15,277.7",193.2,293.1,304.7,"120,330.7"
10,20102011,"2,503.5",572.2,"3,849.5","2,957.8","26,499.3","48,025.6","5,079.4","4,351.1","16,907.9","16,128.1",200.6,327.4,318.1,"127,720.6"
11,20112012,"2,631.2",632.0,"4,030.2","3,120.1","27,651.0","49,415.1","5,290.5","4,611.5","16,921.7","16,616.1",216.9,359.9,349.2,"131,845.5"
12,20122013,"2,879.7",628.4,"4,107.5","3,153.2","28,221.5","52,038.7","5,625.1","4,822.6","17,995.1","17,888.4",227.1,368.1,371.0,"138,326.4"
13,20132014,"2,860.9",634.8,"4,133.2","3,127.1","29,602.4","52,700.2","5,832.8","5,109.7","18,615.7","17,978.8",238.1,426.5,398.0,"141,658.2"
14,20142015,"2,888.9",634.6,"4,221.8","3,135.8","30,046.8","54,410.9","5,816.0","5,201.5","19,311.8","18,776.1",244.0,448.4,427.8,"145,564.4"
15,20152016,"3,011.6",654.6,"4,295.7","3,245.2","33,690.0","55,820.6","6,184.1","5,415.1","20,063.6","19,436.3",268.8,479.7,451.8,"153,017.2"
16,20162017,"3,041.7",682.2,"4,294.7","3,276.9","32,987.5","56,960.4","6,211.0","5,607.6","20,895.5","20,319.2",346.3,541.1,469.1,"155,633.1"
17,20172018,"3,075.7",716.3,"4,459.5","3,366.2","35,338.0","59,051.4","6,380.7","5,686.5","21,709.6","20,979.6",377.8,492.3,529.2,"162,162.9"
18,20182019,"3,176.8",751.8,"4,612.5","3,448.4","37,339.8","61,546.9","6,459.3","5,624.6","22,372.9","21,961.0",343.3,547.0,562.5,"168,746.6"
19,20192020,"3,384.8",797.6,"4,880.7","3,540.6","39,516.4","63,935.2","6,659.2","5,987.7","22,762.5","23,435.7",355.6,542.2,621.9,"176,420.2"
20,20202021,"3,313.5",828.7,"5,375.7","3,690.0","49,318.8","74,644.7","7,382.3","6,304.1","24,330.0","26,782.2",387.6,583.3,645.2,"203,586.3"
21,20212022,"3,754.6",908.8,"5,778.3","4,043.2","51,734.1","78,371.2","7,595.5","6,640.6","25,243.0","29,260.7",410.2,617.4,605.6,"214,963.0"
22,20222023,"3,948.8",985.1,"6,425.1","4,384.0","50,935.8","80,253.0","7,973.5","6,776.3","26,069.5","30,385.0",429.6,637.9,643.2,"219,846.9"
23,20232024 f,"4,248.0","1,131.5","7,215.1","4,683.1","52,978.7","81,881.5","8,005.2","7,499.9","28,182.5","33,598.6",504.6,644.7,768.5,"231,342.0"

In [56]:
healthcare_spending_final = healthcare_spending_final.rename(columns={
    'Year': 'Fiscal Year',
    'N.L.': 'Newfoundland and Labrador',
    'P.E.I.': 'Prince Edward Island',
    ' N.S.': 'Nova Scotia',
    'N.B.': 'New Brunswick',
    'Que.': 'Quebec',
    ' Ont.': 'Ontario',
    'Man.': 'Manitoba',
    'Sask.': 'Saskatchewan',
    'Alta.': 'Alberta',
    'B.C.': 'British Columbia',
    'Y.T.': 'Yukon Territory',
    'N.W.T.': 'Northwest Territories',
    'Nun.': 'Nunavut'
})
healthcare_spending_final

,Fiscal Year,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Alberta,British Columbia,Yukon Territory,Northwest Territories,Nunavut,Canada
0,20002001,"1,261.9",269.2,"1,795.2","1,493.6","14,781.3","24,547.7","2,677.3","2,143.5","6,361.6","9,342.4",86.8,156.8,140.0,"65,057.3"
1,20012002,"1,362.8",311.3,"1,915.1","1,624.7","15,792.6","25,489.1","2,837.0","2,311.9","7,255.7","10,379.7",97.5,177.9,146.4,"69,701.6"
2,20022003,"1,441.4",350.9,"2,110.8","1,701.9","16,478.0","27,904.2","3,022.1","2,446.3","7,872.2","10,910.5",103.1,188.0,191.8,"74,721.0"
3,20032004,"1,518.9",353.9,"2,300.9","1,827.9","17,424.3","31,141.3","3,274.8","2,586.3","8,420.7","11,275.3",105.7,196.5,237.2,"80,663.8"
4,20042005,"1,543.1",351.8,"2,401.5","1,998.8","18,491.2","33,180.5","3,499.2","2,813.5","9,366.6","11,524.6",115.6,215.3,236.5,"85,738.2"
5,20052006,"1,613.8",376.5,"2,631.5","2,176.9","19,348.4","35,463.6","3,751.4","3,070.9","10,477.1","12,302.9",125.7,217.0,233.3,"91,789.1"
6,20062007,"1,734.3",391.6,"2,941.0","2,379.2","20,968.5","37,938.5","3,960.3","3,265.3","11,605.3","12,889.1",142.7,232.3,264.5,"98,712.6"
7,20072008,"1,860.8",420.7,"3,105.0","2,516.2","22,262.0","40,400.5","4,183.1","3,534.8","12,625.8","13,626.6",147.3,259.0,262.1,"105,203.9"
8,20082009,"2,046.0",463.2,"3,279.1","2,668.5","23,752.9","43,336.6","4,518.1","3,820.5","14,110.9","14,832.7",165.2,280.4,278.3,"113,552.4"
9,20092010,"2,255.0",524.2,"3,423.9","2,826.6","25,573.5","45,996.0","4,875.6","4,041.8","14,745.2","15,277.7",193.2,293.1,304.7,"120,330.7"
10,20102011,"2,503.5",572.2,"3,849.5","2,957.8","26,499.3","48,025.6","5,079.4","4,351.1","16,907.9","16,128.1",200.6,327.4,318.1,"127,720.6"
11,20112012,"2,631.2",632.0,"4,030.2","3,120.1","27,651.0","49,415.1","5,290.5","4,611.5","16,921.7","16,616.1",216.9,359.9,349.2,"131,845.5"
12,20122013,"2,879.7",628.4,"4,107.5","3,153.2","28,221.5","52,038.7","5,625.1","4,822.6","17,995.1","17,888.4",227.1,368.1,371.0,"138,326.4"
13,20132014,"2,860.9",634.8,"4,133.2","3,127.1","29,602.4","52,700.2","5,832.8","5,109.7","18,615.7","17,978.8",238.1,426.5,398.0,"141,658.2"
14,20142015,"2,888.9",634.6,"4,221.8","3,135.8","30,046.8","54,410.9","5,816.0","5,201.5","19,311.8","18,776.1",244.0,448.4,427.8,"145,564.4"
15,20152016,"3,011.6",654.6,"4,295.7","3,245.2","33,690.0","55,820.6","6,184.1","5,415.1","20,063.6","19,436.3",268.8,479.7,451.8,"153,017.2"
16,20162017,"3,041.7",682.2,"4,294.7","3,276.9","32,987.5","56,960.4","6,211.0","5,607.6","20,895.5","20,319.2",346.3,541.1,469.1,"155,633.1"
17,20172018,"3,075.7",716.3,"4,459.5","3,366.2","35,338.0","59,051.4","6,380.7","5,686.5","21,709.6","20,979.6",377.8,492.3,529.2,"162,162.9"
18,20182019,"3,176.8",751.8,"4,612.5","3,448.4","37,339.8","61,546.9","6,459.3","5,624.6","22,372.9","21,961.0",343.3,547.0,562.5,"168,746.6"
19,20192020,"3,384.8",797.6,"4,880.7","3,540.6","39,516.4","63,935.2","6,659.2","5,987.7","22,762.5","23,435.7",355.6,542.2,621.9,"176,420.2"
20,20202021,"3,313.5",828.7,"5,375.7","3,690.0","49,318.8","74,644.7","7,382.3","6,304.1","24,330.0","26,782.2",387.6,583.3,645.2,"203,586.3"
21,20212022,"3,754.6",908.8,"5,778.3","4,043.2","51,734.1","78,371.2","7,595.5","6,640.6","25,243.0","29,260.7",410.2,617.4,605.6,"214,963.0"
22,20222023,"3,948.8",985.1,"6,425.1","4,384.0","50,935.8","80,253.0","7,973.5","6,776.3","26,069.5","30,385.0",429.6,637.9,643.2,"219,846.9"
23,20232024 f,"4,248.0","1,131.5","7,215.1","4,683.1","52,978.7","81,881.5","8,005.2","7,499.9","28,182.5","33,598.6",504.6,644.7,768.5,"231,342.0"

In [57]:
healthcare_spending_path = "healthcare_spending_final.csv"
healthcare_spending_final.to_csv(healthcare_spending_path,index=False)